# **Assignment on Uber dataset**

**Load the dataset**

In [2]:
import pandas as pd

#loading csv
uber_data=pd.read_csv("Uber.csv")
uber_data.head()

#loading excel file
#uber_data=pd.read_excel("Uber.xslx")
#uber_data.head()

#loading jsom file
#df=pd.read_json('hello.json')
#df.head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

**Display basic info about dataset**

In [3]:
print(uber_data.shape)
print(uber_data.info())
print(uber_data.describe())

(1156, 7)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1156 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB
None
             MILES*
count   1156.000000
mean      21.115398
std      359.299007
min        0.500000
25%        2.900000
50%        6.000000
75%       10.400000
max    12204.700000

**Check for missing values**

In [4]:
c=uber_data.isnull().sum()
print(c)

START_DATE*      0
END_DATE*        1
CATEGORY*        1
START*           1
STOP*            1
MILES*           0
PURPOSE*       503
dtype: int64

**Drop rows with missing values**

In [5]:
b=uber_data.dropna()
print(b)

           START_DATE*         END_DATE* CATEGORY*            START*  \
0       1/1/2016 21:11    1/1/2016 21:17  Business       Fort Pierce
2       1/2/2016 20:25    1/2/2016 20:38  Business       Fort Pierce
3       1/5/2016 17:31    1/5/2016 17:45  Business       Fort Pierce
4       1/6/2016 14:42    1/6/2016 15:49  Business       Fort Pierce
5       1/6/2016 17:15    1/6/2016 17:19  Business   West Palm Beach
...                ...               ...       ...               ...
1150   12/31/2016 1:07   12/31/2016 1:14  Business           Kar?chi
1151  12/31/2016 13:24  12/31/2016 13:42  Business           Kar?chi
1152  12/31/2016 15:03  12/31/2016 15:38  Business  Unknown Location
1153  12/31/2016 21:32  12/31/2016 21:50  Business        Katunayake
1154  12/31/2016 22:08  12/31/2016 23:51  Business           Gampaha

                 STOP*  MILES*         PURPOSE*
0          Fort Pierce     5.1   Meal/Entertain
2          Fort Pierce     4.8  Errand/Supplies
3          Fort Pierce     4.7          Meeting
4      West Palm Beach    63.7   Customer Visit
5      West Palm Beach     4.3   Meal/Entertain
...                ...     ...              ...
1150           Kar?chi     0.7          Meeting
1151  Unknown Location     3.9   Temporary Site
1152  Unknown Location    16.2          Meeting
1153           Gampaha     6.4   Temporary Site
1154         Ilukwatta    48.2   Temporary Site

[653 rows x 7 columns]

**fill missing values (propose column with unknown value)**

In [6]:
a=uber_data.fillna(0)
print(a)

           START_DATE*         END_DATE* CATEGORY*            START*  \
0       1/1/2016 21:11    1/1/2016 21:17  Business       Fort Pierce
1        1/2/2016 1:25     1/2/2016 1:37  Business       Fort Pierce
2       1/2/2016 20:25    1/2/2016 20:38  Business       Fort Pierce
3       1/5/2016 17:31    1/5/2016 17:45  Business       Fort Pierce
4       1/6/2016 14:42    1/6/2016 15:49  Business       Fort Pierce
...                ...               ...       ...               ...
1151  12/31/2016 13:24  12/31/2016 13:42  Business           Kar?chi
1152  12/31/2016 15:03  12/31/2016 15:38  Business  Unknown Location
1153  12/31/2016 21:32  12/31/2016 21:50  Business        Katunayake
1154  12/31/2016 22:08  12/31/2016 23:51  Business           Gampaha
1155            Totals                 0         0                 0

                 STOP*   MILES*         PURPOSE*
0          Fort Pierce      5.1   Meal/Entertain
1          Fort Pierce      5.0                0
2          Fort Pierce      4.8  Errand/Supplies
3          Fort Pierce      4.7          Meeting
4      West Palm Beach     63.7   Customer Visit
...                ...      ...              ...
1151  Unknown Location      3.9   Temporary Site
1152  Unknown Location     16.2          Meeting
1153           Gampaha      6.4   Temporary Site
1154         Ilukwatta     48.2   Temporary Site
1155                 0  12204.7                0

[1156 rows x 7 columns]

**Check and remove duplicates**

In [10]:
# Check for duplicates
duplicates = uber_data.duplicated()
print("\nNumber of duplicate rows:", duplicates.sum())

# Remove duplicates
uber_data_cleaned = uber_data.drop_duplicates()

Number of duplicate rows: 1

**Convert START_DATE and END_DATE to datetime**

In [11]:
import pandas as pd
uber_data = pd.read_csv("Uber.csv")
temp = pd.DataFrame(uber_data)
temp['START_DATE*'] = pd.to_datetime(temp['START_DATE*'], errors='coerce')
temp['END_DATE*'] = pd.to_datetime(temp['END_DATE*'], errors='coerce')

print(temp)
print(temp.dtypes)

             START_DATE*           END_DATE* CATEGORY*            START*  \
0    2016-01-01 21:11:00 2016-01-01 21:17:00  Business       Fort Pierce
1    2016-01-02 01:25:00 2016-01-02 01:37:00  Business       Fort Pierce
2    2016-01-02 20:25:00 2016-01-02 20:38:00  Business       Fort Pierce
3    2016-01-05 17:31:00 2016-01-05 17:45:00  Business       Fort Pierce
4    2016-01-06 14:42:00 2016-01-06 15:49:00  Business       Fort Pierce
...                  ...                 ...       ...               ...
1151 2016-12-31 13:24:00 2016-12-31 13:42:00  Business           Kar?chi
1152 2016-12-31 15:03:00 2016-12-31 15:38:00  Business  Unknown Location
1153 2016-12-31 21:32:00 2016-12-31 21:50:00  Business        Katunayake
1154 2016-12-31 22:08:00 2016-12-31 23:51:00  Business           Gampaha
1155                 NaT                 NaT       NaN               NaN

                 STOP*   MILES*         PURPOSE*
0          Fort Pierce      5.1   Meal/Entertain
1          Fort Pierce      5.0              NaN
2          Fort Pierce      4.8  Errand/Supplies
3          Fort Pierce      4.7          Meeting
4      West Palm Beach     63.7   Customer Visit
...                ...      ...              ...
1151  Unknown Location      3.9   Temporary Site
1152  Unknown Location     16.2          Meeting
1153           Gampaha      6.4   Temporary Site
1154         Ilukwatta     48.2   Temporary Site
1155               NaN  12204.7              NaN

[1156 rows x 7 columns]
START_DATE*    datetime64[ns]
END_DATE*      datetime64[ns]
CATEGORY*              object
START*                 object
STOP*                  object
MILES*                float64
PURPOSE*               object
dtype: object

**Total number of rides per category:**

In [12]:
import pandas as pd

# Load the dataset
uber_data = pd.read_csv("Uber.csv")

# Check the column names for the category column
print("Column names in dataset:", uber_data.columns)

# Calculate the total rides per category
rides_per_category = uber_data.groupby("CATEGORY*").size()

# Display the results
print("\nTotal number of rides per category:")
print(rides_per_category)

Column names in dataset: Index(['START_DATE*', 'END_DATE*', 'CATEGORY*', 'START*', 'STOP*', 'MILES*',
       'PURPOSE*'],
      dtype='object')

Total number of rides per category:
CATEGORY*
Business    1078
Personal      77
dtype: int64

**Total miles traveled for each purpose:**

In [13]:
# Ensure 'MILES*' is numeric
uber_data['MILES*'] = pd.to_numeric(uber_data['MILES*'], errors='coerce')

# Group by 'PURPOSE*' and calculate the total miles
total_miles_per_purpose = uber_data.groupby("PURPOSE*")['MILES*'].sum()

# Display the results
print("\nTotal miles traveled for each purpose:")
print(total_miles_per_purpose)

Total miles traveled for each purpose:
PURPOSE*
Airport/Travel       16.5
Between Offices     197.0
Charity ($)          15.1
Commute             180.2
Customer Visit     2089.5
Errand/Supplies     508.0
Meal/Entertain      911.7
Meeting            2851.3
Moving               18.2
Temporary Site      523.7
Name: MILES*, dtype: float64

**Average distance for business vs. personal rides:**

In [14]:
# Calculate the average distance for 'Business' vs 'Personal'
avg_distance = uber_data.groupby("CATEGORY*")['MILES*'].mean()

# Display the result
print("\nAverage distance for Business vs Personal rides:")
print(avg_distance)

Average distance for Business vs Personal rides:
CATEGORY*
Business    10.655844
Personal     9.320779
Name: MILES*, dtype: float64

**Add a column for cost estimation (assuming $2 per mile):**

In [15]:
# Assuming the column 'MILES*' contains the distance traveled
# Add a new column 'COST_ESTIMATION' by multiplying the miles by $2
uber_data['COST_ESTIMATION'] = uber_data['MILES*'] * 2

# Display the first few rows to verify the new column
print(uber_data.head())

      START_DATE*       END_DATE* CATEGORY*       START*            STOP*  \
0  1/1/2016 21:11  1/1/2016 21:17  Business  Fort Pierce      Fort Pierce
1   1/2/2016 1:25   1/2/2016 1:37  Business  Fort Pierce      Fort Pierce
2  1/2/2016 20:25  1/2/2016 20:38  Business  Fort Pierce      Fort Pierce
3  1/5/2016 17:31  1/5/2016 17:45  Business  Fort Pierce      Fort Pierce
4  1/6/2016 14:42  1/6/2016 15:49  Business  Fort Pierce  West Palm Beach

   MILES*         PURPOSE*  COST_ESTIMATION
0     5.1   Meal/Entertain             10.2
1     5.0              NaN             10.0
2     4.8  Errand/Supplies              9.6
3     4.7          Meeting              9.4
4    63.7   Customer Visit            127.4

**Filter rides longer than 50 miles:**

In [16]:
# miles are more than 50
a=uber_data[uber_data['MILES*']>50]
print(a)

           START_DATE*         END_DATE* CATEGORY*            START*  \
4       1/6/2016 14:42    1/6/2016 15:49  Business       Fort Pierce
232    3/17/2016 12:52   3/17/2016 15:11  Business            Austin
251    3/19/2016 19:33   3/19/2016 20:39  Business         Galveston
268    3/25/2016 13:24   3/25/2016 16:22  Business              Cary
269    3/25/2016 16:52   3/25/2016 22:22  Business             Latta
270    3/25/2016 22:54    3/26/2016 1:39  Business      Jacksonville
295     4/2/2016 12:21    4/2/2016 14:47  Business         Kissimmee
296     4/2/2016 16:57    4/2/2016 18:09  Business     Daytona Beach
297     4/2/2016 19:38    4/2/2016 22:36  Business      Jacksonville
298     4/2/2016 23:11     4/3/2016 1:34  Business         Ridgeland
299      4/3/2016 2:00     4/3/2016 4:16  Business          Florence
546    7/14/2016 16:39   7/14/2016 20:05  Business       Morrisville
559    7/17/2016 12:20   7/17/2016 15:25  Personal             Boone
707    8/24/2016 13:01   8/24/2016 15:25  Business  Unknown Location
710    8/25/2016 17:19   8/25/2016 19:20  Business  Unknown Location
726    8/27/2016 14:01   8/27/2016 15:44  Business            Lahore
727    8/27/2016 16:15   8/27/2016 19:13  Business  Unknown Location
751     9/6/2016 17:49    9/6/2016 17:49  Business  Unknown Location
776    9/27/2016 21:01    9/28/2016 2:37  Business  Unknown Location
788    10/6/2016 17:23   10/6/2016 17:40  Business        R?walpindi
869   10/28/2016 15:53  10/28/2016 17:59  Business              Cary
870   10/28/2016 18:13  10/28/2016 20:07  Business     Winston Salem
871   10/28/2016 20:13  10/28/2016 22:00  Business         Asheville
873   10/29/2016 17:13  10/29/2016 19:19  Business        Hayesville
880   10/30/2016 13:24  10/30/2016 14:37  Business       Bryson City
881   10/30/2016 15:22  10/30/2016 18:23  Business         Asheville
1088  12/21/2016 20:56  12/21/2016 23:42  Business        Rawalpindi
1155            Totals               NaN       NaN               NaN

                 STOP*   MILES*        PURPOSE*  COST_ESTIMATION
4      West Palm Beach     63.7  Customer Visit            127.4
232               Katy    136.0  Customer Visit            272.0
251            Houston     57.0  Customer Visit            114.0
268              Latta    144.0  Customer Visit            288.0
269       Jacksonville    310.3  Customer Visit            620.6
270          Kissimmee    201.0         Meeting            402.0
295      Daytona Beach     77.3  Customer Visit            154.6
296       Jacksonville     80.5  Customer Visit            161.0
297          Ridgeland    174.2  Customer Visit            348.4
298           Florence    144.0         Meeting            288.0
299               Cary    159.3         Meeting            318.6
546         Banner Elk    195.3             NaN            390.6
559               Cary    180.2         Commute            360.4
707   Unknown Location     96.2             NaN            192.4
710   Unknown Location     50.4             NaN            100.8
726   Unknown Location     86.6             NaN            173.2
727   Unknown Location    156.9             NaN            313.8
751   Unknown Location     69.1             NaN            138.2
776   Unknown Location    195.6             NaN            391.2
788   Unknown Location    112.6             NaN            225.2
869      Winston Salem    107.0         Meeting            214.0
870          Asheville    133.6         Meeting            267.2
871             Topton     91.8         Meeting            183.6
873             Topton     75.7             NaN            151.4
880          Asheville     68.4             NaN            136.8
881             Mebane    195.9             NaN            391.8
1088  Unknown Location    103.0         Meeting            206.0
1155               NaN  12204.7             NaN          24409.4

**Filter by specific purpose (e.g., meetings):**

In [17]:
# Filter the data for rows where the 'PURPOSE*' column is 'Meeting'
meetings_data = uber_data[uber_data['PURPOSE*'] == 'Meeting']

# Display the filtered data
print(meetings_data)

           START_DATE*         END_DATE* CATEGORY*            START*  \
3       1/5/2016 17:31    1/5/2016 17:45  Business       Fort Pierce
6       1/6/2016 17:30    1/6/2016 17:35  Business   West Palm Beach
7       1/7/2016 13:27    1/7/2016 13:33  Business              Cary
8       1/10/2016 8:05    1/10/2016 8:25  Business              Cary
10     1/10/2016 15:08   1/10/2016 15:51  Business          New York
...                ...               ...       ...               ...
1142  12/29/2016 20:15  12/29/2016 20:45  Business           Kar?chi
1144  12/29/2016 23:14  12/29/2016 23:47  Business  Unknown Location
1148  12/30/2016 16:45  12/30/2016 17:08  Business           Kar?chi
1150   12/31/2016 1:07   12/31/2016 1:14  Business           Kar?chi
1152  12/31/2016 15:03  12/31/2016 15:38  Business  Unknown Location

                 STOP*  MILES* PURPOSE*  COST_ESTIMATION
3          Fort Pierce     4.7  Meeting              9.4
6           Palm Beach     7.1  Meeting             14.2
7                 Cary     0.8  Meeting              1.6
8          Morrisville     8.3  Meeting             16.6
10              Queens    10.8  Meeting             21.6
...                ...     ...      ...              ...
1142           Kar?chi     7.2  Meeting             14.4
1144           Kar?chi    12.9  Meeting             25.8
1148           Kar?chi     4.6  Meeting              9.2
1150           Kar?chi     0.7  Meeting              1.4
1152  Unknown Location    16.2  Meeting             32.4

[187 rows x 8 columns]

**What is the total number of business trips versus personal trips?**

In [18]:
# Count the number of trips for each category
trip_counts = uber_data['CATEGORY*'].value_counts()

# Display the counts
print("Total trips by category:")
print(trip_counts)

business_trips = trip_counts.get('Business', 0)  
personal_trips = trip_counts.get('Personal', 0) 

print(f"\nTotal Business Trips: {business_trips}")
print(f"Total Personal Trips: {personal_trips}")

Total trips by category:
CATEGORY*
Business    1078
Personal      77
Name: count, dtype: int64

Total Business Trips: 1078
Total Personal Trips: 77

**What percentage of trips are business versus personal?**

In [ ]:
trip_counts = uber_data['CATEGORY*'].value_counts()
total_trips = trip_counts.sum()

# Calculate percentages
business_percentage = (trip_counts.get('Business', 0) / total_trips) * 100
personal_percentage = (trip_counts.get('Personal', 0) / total_trips) * 100

# Display the results
print(f"Percentage of Business Trips: {business_percentage:.2f}%")
print(f"Percentage of Personal Trips: {personal_percentage:.2f}%")