# Assignment on Store_sales dataset

**Load the Dataset**

In [23]:
import pandas as pd
store_sale=pd.read_csv('store_sales.csv')
print(store_sale.head())
store_sale.dtypes

  store_id        city  Jan  Feb  Mar  Apr  May  Jun  July  Aug  Sep  Oct  \
0      S_1       Texas    8   20   13   21   17   20    24   17   16    9
1      S_2  California   12   19   15   15   11   19     7   15   10   11
2      S_3  California   16   16   14   19   23    6    13   13   15   14
3      S_4       Texas    8   18   13   10   14   14     6    8    8   18
4      S_5       Texas   19    5   24    9    5   24    10    5   24   15

   Nov  Dec
0    7    6
1   21   19
2   24    8
3    7   11
4    6   13

store_id    object
city        object
Jan          int64
Feb          int64
Mar          int64
Apr          int64
May          int64
Jun          int64
July         int64
Aug          int64
Sep          int64
Oct          int64
Nov          int64
Dec          int64
dtype: object

**Calculate the total sales for each store across all months.**

In [50]:
store_sale['Total_Sales'] = store_sale.iloc[:, 2:14].sum(axis=1)
result=store_sale[['store_id', 'Total_Sales']]
result

   store_id  Total_Sales
0       S_1          178
1       S_2          174
2       S_3          181
3       S_4          135
4       S_5          159
..      ...          ...
95     S_96          185
96     S_97          154
97     S_98          168
98     S_99          173
99    S_100          180

[100 rows x 2 columns]

**Find the average sales for each month across all stores**

In [42]:
# Calculate the average sales for each month
average_monthly_sales = store_sale.iloc[:, 2:].mean(axis=0)

print("Average sales for each month across all stores:")
print(average_monthly_sales)

Average sales for each month across all stores:
Jan             14.46
Feb             15.09
Mar             14.56
Apr             14.57
May             13.56
Jun             13.80
July            14.38
Aug             15.81
Sep             14.91
Oct             14.10
Nov             15.31
Dec             13.57
Total_Sales    174.12
dtype: float64

**Identify the store with the highest total sales.**

In [43]:
store_with_max_sales = store_sale.loc[store_sale['Total_Sales'].idxmax()]
print("Store with the highest total sales:")
print(store_with_max_sales)

Store with the highest total sales:
store_id             S_62
city           California
Jan                    16
Feb                    21
Mar                     6
Apr                    22
May                    22
Jun                     9
July                   21
Aug                    21
Sep                    22
Oct                    17
Nov                    16
Dec                    21
Total_Sales           214
Name: 61, dtype: object

**Calculate the total sales for each city.**

In [44]:
# Calculate total sales for each city
city_total_sales = store_sale.groupby('city')['Total_Sales'].sum()
# Display the result
print("Total sales for each city:")
print(city_total_sales)

Total sales for each city:
city
Arizona       3951
California    7522
Texas         5939
Name: Total_Sales, dtype: int64

**List stores with total sales greater than 200**

In [52]:
high_sales_stores = store_sale[store_sale['Total_Sales'] > 200]
print("Stores with total sales greater than 200:")
print(high_sales_stores[['store_id', 'city', 'Total_Sales']])

Stores with total sales greater than 200:
   store_id        city  Total_Sales
37     S_38  California          207
39     S_40       Texas          204
50     S_51     Arizona          210
61     S_62  California          214
69     S_70       Texas          206
72     S_73  California          213
77     S_78     Arizona          211
85     S_86  California          214
86     S_87       Texas          203
92     S_93  California          204

**Which month had the highest average sales across all stores?**

In [39]:
average_monthly_sales = store_sale.iloc[:, 2:-1].mean()

# Find the month with the highest average sales
highest_avg_sales_month = average_monthly_sales.idxmax()
highest_avg_sales_value = average_monthly_sales.max()

# Display the result
print(f"The month with the highest average sales is {highest_avg_sales_month} with an average of {highest_avg_sales_value:.2f}.")

The month with the highest average sales is Aug with an average of 15.81.

**Which city generated the most revenue?**

In [61]:
city_sales = store_sale.groupby('city')['Total_Sales'].sum()

most_revenue_city = city_sales.idxmax()
most_revenue_value = city_sales.max()

print(f"The city that generated the most revenue is {most_revenue_city} with a total revenue of {most_revenue_value}.")

The city that generated the most revenue is California with a total revenue of 7522.